<a href="https://colab.research.google.com/github/goyaljai1/Data_Analysis_Projects/blob/main/Case_Study_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SF Salaries Dataset

In [5]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [6]:
!kaggle datasets download -d kaggle/sf-salaries

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading sf-salaries.zip to /content
 44% 5.00M/11.5M [00:00<00:00, 45.5MB/s]
100% 11.5M/11.5M [00:00<00:00, 80.1MB/s]

In [8]:
!unzip '/content/sf-salaries.zip'

Archive:  /content/sf-salaries.zip
  inflating: Salaries.csv
  inflating: database.sqlite

In [95]:
import pandas as pd
df=pd.read_csv("Salaries.csv")

<ipython-input-95-ada5d03f6ac3>:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Salaries.csv")

In [26]:
#Top 10 rows
df.sample(10)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
6954,DAVID AMBROSE,"INSPECTOR III, (POLICE DEPARTMENT)",95237.05,2935.43,15463.63,NaN,113636.11,113636.11,2011
105069,Phil T Trono,Recreation Leader,13504.02,0.0,52.63,135.56,13556.65,13692.21,2013
218,GERALD MANSUR JR,FIRE FIGHTER PARAMEDIC,122405.0,65829.32,15551.54,NaN,203785.86,203785.86,2011
120184,Regidor M Ruaro,Painter Supervisor 1,92480.06,15296.99,0.0,34074.19,107777.05,141851.24,2014
113049,Vivian Williams,Lieutenant 3,153065.5,0.0,4036.2,46233.98,157101.70,203335.68,2014
17061,GENEROSA GONZALEZ,DEPUTY COURT CLERK II,70586.6,0.0,609.6,NaN,71196.20,71196.20,2011
94234,Julie N Van,Senior Account Clerk,65448.0,0.0,0.0,26642.48,65448.00,92090.48,2013
11752,ANDY NG,TRANSIT OPERATOR,65079.5,22317.86,2724.67,NaN,90122.03,90122.03,2011
119632,Noriko Tabata,IS Business Analyst-Senior,108561.02,0.0,0.0,37051.07,108561.02,145612.09,2014
76137,Philip A Galli,Manager IV,143850.63,0.0,1451.84,50214.58,145302.47,195517.05,2013

In [11]:
#getting info 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [12]:
#drop id, notes, agency and status columns
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [96]:
df.drop(['Notes', 'Agency',
       'Status', 'Id'], axis=1, inplace=True)
df.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011

In [15]:
#overall statistics
df.describe(include='all')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,148654,148654,148049.0,148654.0,148654.0,112495.0,148654.000000,148654.000000,148654.000000
unique,110811,2159,109900.0,66555.0,84968.0,99635.0,NaN,NaN,NaN
top,Kevin Lee,Transit Operator,0.0,0.0,0.0,0.0,NaN,NaN,NaN
freq,13,7036,875.0,66103.0,35218.0,1053.0,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,74768.321972,93692.554811,2012.522643
std,NaN,NaN,NaN,NaN,NaN,NaN,50517.005274,62793.533483,1.117538
min,NaN,NaN,NaN,NaN,NaN,NaN,-618.130000,-618.130000,2011.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,36168.995000,44065.650000,2012.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,71426.610000,92404.090000,2013.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,105839.135000,132876.450000,2014.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,567595.430000,567595.430000,2014.000000

In [16]:
#finding occurance of the employee names

df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [ ]:
df['EmployeeName'].value_counts().head()

In [22]:
#Number of unique job titles

df['JobTitle'].nunique()

2159

In [27]:
#number of employes whose job title contains captain
len(df[df['JobTitle'].str.contains('captain',case=False)])

552

In [30]:
#all employee name from fire department
df[df['JobTitle'].str.contains('fire',case=False)]['EmployeeName']

4            PATRICK GARDNER
6                  ALSON LEE
8             MICHAEL MORRIS
9         JOANNE HAYES-WHITE
10             ARTHUR KENNEY
                 ...
145956      Kenneth C Farris
147556         Edward A Dunn
148021        Kari A Johnson
148209          Sheryl K Lee
148554       Lawrence F Gatt
Name: EmployeeName, Length: 5879, dtype: object

In [48]:
#minimun, max, and average basepay

df['BasePay'] = df['BasePay'].astype('int64', errors='ignore')

df['BasePay'].max()

TypeError: ignored

In [97]:
#Replace 'Not Provided' in EmployeeName' Column to NaN
import numpy as np
df['EmployeeName'].replace('Not provided', np.nan, inplace=True)

In [ ]:
#drop the rows having 5 missing values

In [98]:
df.drop(df[df.isnull().sum(axis=1)==5].index, axis=0, inplace=True)

In [99]:
df.isnull().sum(axis=1)

0         1
1         1
2         1
3         1
4         1
         ..
148649    0
148650    1
148651    1
148652    1
148653    0
Length: 148654, dtype: int64

In [100]:
#Job title of ALBERT PARDINI
df[df['EmployeeName'] == 'ALBERT PARDINI']['JobTitle']

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

In [101]:
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [86]:
df['BasePay'] = df['BasePay'].astype(int, errors='ignore')

In [110]:
df['BasePay'].mean()

TypeError: ignored

In [112]:
#average total pay of all employee per year

df.groupby('Year').mean()['TotalPay']

<ipython-input-112-563f0b301b27>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Year').mean()['TotalPay']

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

In [108]:
#average total pay of employes hasving job title as accountant
df[df['JobTitle']=='ACCOUNTANT']['BasePay'].mean()

46643.172

In [114]:
#top 5 most common jobs
df['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64