<a href="https://colab.research.google.com/github/goyaljai1/Data_Analysis_Projects/blob/main/Case_Study1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#E-Commerce Purchases Dataset

In [3]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [4]:
!kaggle datasets download -d utkarsharya/ecommerce-purchases

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading ecommerce-purchases.zip to /content
  0% 0.00/984k [00:00<?, ?B/s]
100% 984k/984k [00:00<00:00, 192MB/s]

In [5]:
!unzip '/content/ecommerce-purchases.zip'

Archive:  /content/ecommerce-purchases.zip
  inflating: Ecommerce Purchases

In [87]:
import pandas as pd
df=pd.read_csv("/content/Ecommerce Purchases")

In [20]:
#top 10 rows
df.head(10)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,04/24,899,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,01/17,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63

In [ ]:
#last 10 rows
df.tail(10)

In [ ]:
#dataytpe of each column
df.dtypes

In [ ]:
#checking null values

df.isnull().sum()

In [19]:
#number of rows and columns in the dataset

df.shape

(10000, 14)

In [22]:
#highest and lowest purchase price
print("Highest Purchase Price is ", df['Purchase Price'].max())
print("Lowest Purchase Price is ", df['Purchase Price'].min())

Highest Purchase Price is  99.99
Lowest Purchase Price is  0.0

In [23]:
#average purchase price
df['Purchase Price'].mean()

50.347302

In [26]:
#people having french as their language

len(df[df['Language']=='fr'])

1097

In [29]:
#job title contains engineer
len(df[df['Job'].str.contains('engineer',case=False)])

984

In [37]:
#Email of person havin ip address = 132.207.160.22
df[df['IP Address']=='132.207.160.22']['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

In [79]:
# people having mastercard as their credit card provider 
# and made a purchase above 50
len(df[(df['CC Provider']=='Mastercard') & (df['Purchase Price']>50)])

405

In [ ]:
len(df[df['CC Provider'] == 'Mastercard'][df['Purchase Price'] > 50])

In [89]:
#email of the purson having credit card number as 4664825258997302
df[df['Credit Card'] == 4664825258997302]['Email']

9992    bberry@wright.net
Name: Email, dtype: object

In [96]:
#Number of people who purchases during day (am) and those who purchases during night (pm)
x=len(df[df['AM or PM']=='AM'])

print("purchases during AM: ", x)
print("purchases during PM: ", df.shape[0]-x)

purchases during AM:  4932
purchases during PM:  5068

In [ ]:
#no of people whose credit card expires in 2020
len(df[df['CC Exp Date'].apply(lambda x:x[3:]=='20')])

In [106]:
df['CC Exp Date'] = pd.to_datetime(df['CC Exp Date'], format='%m/%y')
len(df[df['CC Exp Date'].dt.year == 2020])

988

In [ ]:
#top 5 most popular email providers
df[['username', 'email_provider']] = df["Email"].apply(lambda x: pd.Series(str(x).split("@")))
df['email_provider'].value_counts().head()

In [ ]:
df['Email'].apply(lambda x:x.split('@')[1]).value_counts().head()

In [ ]:
df.drop(['username', 'email_provider'], axis=1, inplace=True)
df.head()