<a href="https://colab.research.google.com/github/goyaljai1/Data_Analysis_Projects/blob/main/Data_Analysis_Warm_Up_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Analysis Warm-Up Exercises

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dict1 ={'Name':['Priyang','Aadhya','Krisha','Vedant','Parshv',
                'Mittal','Archana'],
                'Marks':[98,89,99,87,90,83,99],
                'Gender':['Male','Female','Female','Male','Male',
                         'Female','Female']
               }
df1=pd.DataFrame(dict1)
df1

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2   Krisha     99  Female
3   Vedant     87    Male
4   Parshv     90    Male
5   Mittal     83  Female
6  Archana     99  Female

In [ ]:
#top 3 rows of the dataset
df1.head(3)

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2   Krisha     99  Female

In [ ]:
#last 3 rows
df1.tail(3)

      Name  Marks  Gender
4   Parshv     90    Male
5   Mittal     83  Female
6  Archana     99  Female

In [ ]:
#shape of dataframe
df1.shape

(7, 3)

In [ ]:
#info about each column
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Marks   7 non-null      int64
 2   Gender  7 non-null      object
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

In [ ]:
#check null values
df1.isnull().sum()

Name      0
Marks     0
Gender    0
dtype: int64

In [ ]:
#overall statistics of the dataframe
df1.describe(include='all')

In [ ]:
#Unique values from the Gender Column
pd.unique(df1['Gender'])

array(['Male', 'Female'], dtype=object)

In [ ]:
df1['Gender'].unique()

2

In [ ]:
#Number of unique values from the Gender column
len(df1['Gender'].unique())

2

In [ ]:
df1['Gender'].nunique()

2

In [ ]:
#count of unique values in gender column
df1['Gender'].value_counts()

Female    4
Male      3
Name: Gender, dtype: int64

In [ ]:
# total number of students having marks between 90 and 100

'''"and" is a logical operator used for combining conditions, while 
"&" is a bitwise operator used for performing bitwise operations on integers'''

len(df1[(df1['Marks']>=90) & (df1['Marks']<=100)])

4

In [ ]:
#using between method

sum(df1['Marks'].between(90,100))

4

In [ ]:
#Find Average Marks

sum(df1['Marks'])/len(df1['Marks'])

92.14285714285714

In [ ]:
df1['Marks'].mean()

92.14285714285714

In [ ]:
#max and min marks
print(df1['Marks'].max())
print(df1['Marks'].min())

99
83

In [ ]:
#Apply Method

def marks(x):
  return x/2

In [ ]:
df1['Half_marks']=df1['Marks'].apply(marks)

In [ ]:
df1.head()

      Name  Marks  Gender  Half_marks
0  Priyang     98    Male        49.0
1   Aadhya     89  Female        44.5
2   Krisha     99  Female        49.5
3   Vedant     87    Male        43.5
4   Parshv     90    Male        45.0

In [ ]:
df1=df1.drop('Half_marks',axis='columns')
df1['Half_mark']=df1['Marks'].apply(lambda x:x/2)
df1.head()

      Name  Marks  Gender  Half_mark
0  Priyang     98    Male       49.0
1   Aadhya     89  Female       44.5
2   Krisha     99  Female       49.5
3   Vedant     87    Male       43.5
4   Parshv     90    Male       45.0

In [ ]:
#Map Function
df1['Male_Female'] = df1['Gender'].map({'Male':1, 'Female':0})

In [ ]:
df1.head()

      Name  Marks  Gender  Half_mark  Male_Female
0  Priyang     98    Male       49.0            1
1   Aadhya     89  Female       44.5            0
2   Krisha     99  Female       49.5            0
3   Vedant     87    Male       43.5            1
4   Parshv     90    Male       45.0            1

In [ ]:
#droping columns

df1.drop(['Male_Female', 'Half_mark'], axis = 1, inplace= True)
df1.head()

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2   Krisha     99  Female
3   Vedant     87    Male
4   Parshv     90    Male

In [ ]:
#Name of columns

df1.columns

Index(['Name', 'Marks', 'Gender'], dtype='object')

In [ ]:
#Sorting Data Frame

df1.sort_values(by=['Marks','Gender'], ascending=False)
#sorting of marks will be given priority over the Gender

      Name  Marks  Gender
2   Krisha     99  Female
6  Archana     99  Female
0  Priyang     98    Male
4   Parshv     90    Male
1   Aadhya     89  Female
3   Vedant     87    Male
5   Mittal     83  Female

In [ ]:
df1.head()

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2   Krisha     99  Female
3   Vedant     87    Male
4   Parshv     90    Male

In [ ]:
#Display name and marks of the female students
df1[df1['Gender']=='Female'][['Name', 'Marks']]

      Name  Marks
1   Aadhya     89
2   Krisha     99
5   Mittal     83
6  Archana     99